<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CraneChartCalc.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CraneChartCalc.My.MySettings>
            <setting name="CraneListFileSetting" serializeAs="String">
                <value>C:\CraneChartCalc\Input\Crane List.xml</value>
            </setting>
            <setting name="BargeListFileSetting" serializeAs="String">
                <value>C:\CraneChartCalc\Input\Barge List.xml</value>
            </setting>
            <setting name="AllAroundRotationArraySetting" serializeAs="String">
                <value>C:\CraneChartCalc\Input\AllAroundRotationArray.xml</value>
            </setting>
            <setting name="EventLogSetting" serializeAs="String">
                <value>C:\CraneChartCalc\Input\EventLog.xml</value>
            </setting>
            <setting name="StandardCranePositionsSetting" serializeAs="String">
                <value>C:\CraneChartCalc\Input\StandardCranePositions.xml</value>
            </setting>
            <setting name="CriteriaFolderSetting" serializeAs="String">
                <value>C:\CraneChartCalc\Input\Criteria\</value>
            </setting>
            <setting name="OverEndRotationArraySetting" serializeAs="String">
                <value>C:\CraneChartCalc\Input\OverEndRotationArray.xml</value>
            </setting>
            <setting name="SimpsonMultipliersSetting" serializeAs="String">
                <value>C:\CraneChartCalc\Input\SimpsonMultipliers.xml</value>
            </setting>
            <setting name="SetupSetting" serializeAs="String">
                <value>C:\CraneChartCalc\Input\Setup.xml</value>
            </setting>
            <setting name="XLSXTemplateSetting" serializeAs="String">
                <value>C:\CraneChartCalc\Input\Sheet.xltx</value>
            </setting>
            <setting name="HydrostaticsFolderSetting" serializeAs="String">
                <value>C:\CraneChartCalc\Input\Hydrostatics\</value>
            </setting>
            <setting name="CrossCurveFolderSetting" serializeAs="String">
                <value>C:\CraneChartCalc\Input\CrossCurves\</value>
            </setting>
        </CraneChartCalc.My.MySettings>
    </userSettings>
</configuration>